* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.lista {
    margin: 35px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1,
h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: url("../assets/wpp1.jpg");
    background-size: cover;
    background-color: #009afc;
    height: 92vh;
    z-index: 3;
}